.vs
obj
bin
PublishProfiles
/src/MudakAI.Net/MudakAI.Chat.WebService/*.user
/src/MudakAI.Net/MudakAI.Voice.Functions/Properties/serviceDependencies.local.json
*.user
azurite
/src/MudakAI.Net/MudakAI.Chat.WebService/appsettings.Development.json
appsettings.Development.json
/src/text-to-speech-api/spk_xvector.ark
__pycache__
/src/text-to-speech-api/feats_stats.npz
/src/text-to-speech-api/model.pth
